@use 'sass:math';
@use 'functions' as *;

@mixin fluid-text($max: 48, $min: 16) {
    font-size: fluid($max, $min);
}

@mixin hide {
    opacity: 0;
    visibility: hidden;
}

@mixin show {
    opacity: 1;
    visibility: visible;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else  {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin buttonGradientHover($colorStart, $colorEnd) {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(90deg, $colorEnd, $colorStart);
      opacity: 0;
      transition: opacity 0.5s ease;
      z-index: 0;

      
    }  


  &:hover::before {
    opacity: 1;
  }
}

@mixin borderRadius() {
  border-radius: rem(10);
}