:root {
    --color-purple-70: #39248D;
    --color-purple-80: #1C1633;
    --color-purple-90: #0C081A;
    
    --color-white-10: #FFFFFF;

    --color-blue-60: #3B82F6;
    --color-blue-70: #5271FF;
    --color-blue-100: #0A0A19;

    --color-pink-50: #A855F7;
    --color-blue-70: #7B74FF;
    --color-pink-90: #221A45;
    
    --color-yellow-50: #FFB33F;
    --color-yellow-90: #E05042;

    --color-green-80: #33CA95;
}