@import '@/styles/helpers/main.scss';


.section-recommend {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-inline: rem(96);
    margin-top: rem(130);
    min-height: rem(770);
    color: var(--color-white-10);

    &__header {
        display: flex;
        justify-content: space-between;
        width: rem(1600);
        padding-right: rem(32);
    }

    &__title {
        font-weight: 500;
        font-size: rem(40);
    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: rem(64);
        position: relative;
        height: fit-content;
    }

    &__button-prev {
        margin-right: rem(32);
    }

    &__offers {
        display: flex;
        width: 100%;
        max-width: rem(1550);
        height: 100%;
        gap: rem(40);
    }

    &__item {
        display: flex;
        flex-direction: column;
        position: relative;
        width: rem(270);
        height: rem(480);

        &:last-of-type {
            clip-path: inset(0% rem(32) 0% 0%)
        }

        &-poster {
            display: flex;
            position: relative;
            justify-content: space-between;
            width: 100%;
            height: rem(420);

        }

        &-image {
            border-radius: rem(24);
            cursor: pointer;
            width: 100%;
            height: auto;
        }

        &-rating {
            @include flex-center;

            position: absolute;
            background: var(--color-green-80);
            min-width: rem(40);
            min-height: rem(40);
            border-radius: rem(12);
            left: rem(20);
            bottom: rem(25);
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: rem(15);
            width: 100%;
            height: rem(75);
        }

        &-desc {
            font-size: rem(14);
        }

        &-title {
            font-size: rem(18);
            font-weight: bold
        }
    }
}