@import '@/styles/helpers/main.scss';

.dropdown {

    &__menu {
        display: flex;
        position: absolute;
        flex-direction: column;
        margin-top: rem(10);
        width: rem(240);
        height: rem(340);
        background: var(--color-pink-90);
        border: 2px solid var(--color-pink-70);
        border-radius: rem(16);
        gap: rem(8);
        overflow-y: scroll;
        scrollbar-width: none;
        box-sizing: border-box;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: rem(45);
        padding-inline: rem(10);
        font-size: rem(20);
        color: var(--color-white-10);
        cursor: pointer;
        transition: background 0.2s ease-in;
        overflow: hidden;

        &:hover {
            background: var(--color-pink-80);
        }

        &.active {
            max-width: fit-content;
            gap: rem(12);
            background: var(--color-pink-80);

            &::after {
                content: url('@/assets/icons/mark-active.png');
            }
        }
    }
}