@use '@/styles/helpers/main.scss' as *;

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(0) rem(160);
    column-gap: rem(32);
    height: rem(100);
    width: 100vw;
    background: linear-gradient(270deg, var(--color-pink-50), var(--color-pink-90));
    color: var(--color-white-100);

    a {
        text-decoration: none;
        color: var(--color-white-10);
    }

    &__title {
        font-size: rem(32);
        font-weight: 500;
    }

    &__menu-list {
        display: flex;
        align-items: center;
        font-size: rem(20);
        column-gap: rem(100);
    }

    &__menu-actions {
        @include flex-center;
        column-gap: rem(55);
    }
}

@media(max-width: 1550px) {
    .header {
    
        &__menu-list {
            font-size: rem(18);
            column-gap: rem(45);
        }

        &__menu-actions {
            column-gap: rem(35);
        }
    }
}