@import '@/styles/helpers/main.scss';

.selection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: rem(335);
    margin-top: rem(128);
    padding-inline: rem(96);

    &__title {
        font-size: rem(40);
        color: var(--color-white-10);
        margin-left: rem(64);
    }

    &__slider {
        @include flex-center;

        width: 100%;
        height: 100%;
    }

    &__offers {
        display: flex;
        align-items: flex-end;
        width: auto;
        max-width: rem(1550);
        height: 100%;
        gap: rem(40);
    }
    
    &__button-prev {
        margin-right: rem(32);
    }
    
    &__button-next {
    }

    &__card {
        display: flex;
        position: relative;
        align-items: end;
        border-radius: rem(24);
        padding: rem(30) rem(10);
        width: rem(400);
        height: rem(230);
        background-size: cover;
        background-position: center;
        transition: all 0.2s ease-in;
        flex: 1;
        cursor: pointer;

        &:last-of-type {
            clip-path: inset(0% rem(32) 0% 0%)
        }

        &::before {
            content: "";
            filter: grayscale(0%) brightness(100%);
        }

        &:hover {
            flex: 1.1;
            height: rem(240);

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: inherit;
                border-radius: rem(24);
                filter: grayscale(35%) brightness(150%);
                transition: filter 0.2s ease-in;
                z-index: 1;
                cursor: pointer;
            }
        }

        &-title {
            color: var(--color-white-10);
            font-weight: 500;
            z-index: 2;
        }
    }
}