@import '@/styles/helpers/main.scss';

.selection {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: rem(335);
    margin-top: rem(128);

    &__header {
        display: flex;
        width: rem(1600);
    }

    &__title {
        font-size: rem(40);
        color: var(--color-white-10);
    }

    &__slider {
        @include flex-center;
        gap: rem(32);
        width: 100%;
        height: 100%;
    }

    &__offers {
        display: flex;
        align-items: flex-end;
        width: auto;
        width: rem(1605);
        height: 100%;
        gap: rem(40);
    }

    &__card {
        display: flex;
        position: relative;
        align-items: end;
        border-radius: rem(24);
        padding: rem(30) rem(10);
        width: rem(400);
        height: rem(230);
        background-size: cover;
        background-position: center;
        transition: all 0.2s ease-in;
        flex: 1;
        cursor: pointer;

        &:last-of-type {
            clip-path: inset(0% rem(32) 0% 0%)
        }

        &::before {
            content: "";
            filter: grayscale(0%) brightness(100%);
        }

        &:hover {
            flex: 1.1;
            height: rem(240);

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: inherit;
                border-radius: rem(24);
                filter: grayscale(35%) brightness(150%);
                transition: filter 0.2s ease-in;
                z-index: 1;
                cursor: pointer;
            }
        }

        &-title {
            color: var(--color-white-10);
            font-weight: 500;
            z-index: 2;
        }
    }
}